@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Registration";
}
<h3>Registration</h3>
<form asp-action="Register" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input class="form-control" aria-describedby="emailHelp" type="email" id="email" name="email" required />

        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required />
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
    <div class="mb-3">
        <span class="text-danger">
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                @ViewBag.ErrorMessage
            }
        </span>
    </div>
</form>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a  asp-area="" asp-controller="User" asp-action="Auth">Authorization</a>
        </li>
        <li class="nav-item">
            <a  asp-area="" asp-controller="Products" asp-action="Index">Home</a>
        </li>
    </ul>
</div>